@use "bulma/sass" with (
  $navbar-breakpoint: 0px,
  $box-shadow: 0,
);

:root {
  --bulma-scheme-h: 0;
  --bulma-scheme-s: 0%;
  --bulma-scheme-main-l: 98%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.has-border {
  border: 1px solid var(--bulma-border);
}

.has-b-border {
  border-bottom: 1px solid var(--bulma-border);
}

.has-t-border {
  border-top: 1px solid var(--bulma-border);
}

.box-fill-height {
  height: 100%;
}

.has-text-default {
  color: var(--bulma-text);
}
